:root {
    --main-white: #ffffff;
    --main-red: #c22e42;
    --main-blue: #411e63b9;
    --main-gray: #313a44;
}
*{
    margin: 0;
    padding:0;
}
*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    display: block;
}

.nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:   var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    height: 50px;
    padding-right: 10px;
}
.nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}
.nav > ul > li{
  color: #fbfeff;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
  font-size:    1.5rem;
    
}
main {
  padding-top: 50px;
}

section{
    border-bottom: var(--main-red)  4px solid;
}

.welcome-section{
    background-color:   var(--main-gray);
    padding-bottom: 25vh;

}
.welcome-section h1,p{
    color:  var(--main-white);
    text-align: center;
}
.welcome-section h1{
    padding-top: 45vh;
    font-size:  4rem;
    
}
.welcome-section p{
    color:  var(--main-red);
    padding-bottom: 2.5vh;
    
}
.about-me{
    color:  white;
    border: red solid  3px;
    margin: 0   30%;   
}
.about-me h2{
    padding-top: 5px;
    text-align: center;
    text-decoration: underline;
}

.about-me   p{
    padding: 5px 10px 15px 10px;
    color:  white;
}








.project-section {
    padding-bottom:  10px;
    background-color:  var(--main-blue);
    width:  100%;
    text-align: center;
}
.project-head{
   padding-top: 50px;
   padding-bottom: 10px;
   font-size: 2rem;
   color: white;
   text-decoration: underline;

}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    padding: 20px;
}

.project-block{
    background-color: var(--main-gray);
}

.project-title{
    text-align: center;
    background-color:   var(--main-gray);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5rem;
}


.project-img {
    height: calc(100% - 3.4rem);
    width: 100%;
    object-fit: fill;
}
button{
    height: 2.5rem;
    width: 5rem;
    color:  white;
    background-color: var(--main-gray);
}

/*
.card {
    width: 130px;
    height: 195px;
    position: relative;
    display: inline-block;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}
.card:hover .img-back {
    display: none !important;
}
*/




.contact-section {
    padding-top: 25px;
    padding-bottom: 25vh;
    width:  100%;
    background-color:  var(--main-gray);
    text-align: center;
}
.contact-header{
    padding-top: 25vh;
    padding-bottom: 5vh;
    color: white;
    font-size:  2rem;
}

.contact-links{
    font-size:   2rem;
    text-align: space-evenly;  
}

i{
    color: white;
    font-weight: normal;
}

.contact-links a{
    text-decoration:    none;
    padding-left: 10px;
    padding-right: 10px;
}


footer{
    color: var(--main-white);
    text-align: center;
    padding: 5 0;
    background-color: var(--main-blue);
}