:root {
    --main-white: #ffffff;
    --main-red: #a12334;
    --main-gold: #e4c725;
    --main-blue: #411e63b9;
    --main-gray: #313a44;

}
*{
    margin: 0;
    padding:0;
}
*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    display: block;
}

.nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:   var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    height: 50px;
    z-index: 999;
}
.nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  
}
.nav > ul > li{
    color: var(--main-white);
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
    font-size:    1.5rem; 
    padding: 0 0.5rem;
}
nav > ul > li:hover {
    background-color: var(--main-white);
    color: var(--main-red);
    cursor: pointer;
}
.nav > ul > li > a{
    color: inherit;
    text-decoration: none;
}

main {
  padding-top: 50px;
}

section{
    border-bottom: var(--main-gold)  4px solid;
}

.welcome-section{
    background-color:   var(--main-gray);
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;

}
.background-img{
    background-image: url("./img's/DonatasKaretaFlipped.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.welcome-text{
    display: inline-block;
    padding-top:25vh;
    padding-left: 2rem;
    padding-right: 2rem;  
}

.welcome-text h1,p{
    color:  var(--main-white);
}
.welcome-text h1{
    font-size:  6rem;
    
}
.welcome-text p{
    color:  var(--main-red);
    padding-bottom: 5vh;
    font-size:  2rem;
    
}
.about-me{
    padding-left: 0.5rem;
    margin-bottom: 2rem;
    color:  var(--main-white);
    border: var(--main-red) solid  3px;
}
.about-me h2{
    padding-top: 5px;
    font-size: 2rem;
    text-decoration: underline;
}

.about-me   p{
    color:  white;
    font-size: 1rem;
}








.project-section {
    padding-bottom:  10px;
    background-color:  var(--main-red);
    width:  100%;
    text-align: center;
}
.project-head{
   padding-top: 50px;
   padding-bottom: 10px;
   font-size: 2rem;
   color: white;
   text-decoration: underline;

}





.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    padding: 20px;
}


.project-block{
    background-color: var(--main-gray);
}

.card {
    height: inherit;
    width: inherit;
    position: relative;
    width: 100%;
    display: flex;
}

.card .project-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.card .img-hover-descriptor {
    display: none;
    position: absolute;
    text-align: left;
    padding:    10px 10px;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 1;
}

.tech{
    text-decoration: underline;
}

.card:hover .img-hover-descriptor {
    display: block;
}
.card:hover .project-img {
    opacity: 0.1;
}

.project-title{
    text-align: center;
    background-color:   var(--main-gray);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5rem;
}
.disclaimer{
    font-weight: 200;
}




button{
    height: 3rem;
    width: 7rem;
    font-size: 1.5rem;
    color:  white;
    background-color: var(--main-gray);
}




.contact-section {
    padding-top: 25px;
    padding-bottom: 25vh;
    width:  100%;
    background-color:  var(--main-gray);
    text-align: center;
}
.contact-header{
    padding-top: 25vh;
    padding-bottom: 5vh;
    color: white;
    font-size:  2rem;
}

.contact-links{
    font-size:   2rem;
    text-align: space-evenly;  
}

i{
    color: white;
    font-weight: normal;
}

.contact-links a{
    text-decoration:    none;
    padding-left: 10px;
    padding-right: 10px;
}


footer{
    color: var(--main-white);
    text-align: center;
    padding: 5px 0;
    background-color: var(--main-gray);
}